[Unit]
Description=armcnc_chromium
After=syslog.target network.target

[Service]
Type=simple
User=armcnc
WorkingDirectory=/opt/armcnc/
EnvironmentFile=/tmp/environment
Environment=DISPLAY=:0.0
ExecStart=/usr/bin/chromium --disable-popup-blocking --no-first-run --disable-desktop-notifications --incognito --kiosk --disable-pinch "http://127.0.0.1:10081/touch"
Restart=on-failure

[Install]
WantedBy=multi-user.target