[Unit]
Description=armcnc
After=syslog.target network.target

[Service]
Type=idle
User=armcnc
WorkingDirectory=/opt/armcnc/
EnvironmentFile=/opt/armcnc/.armcnc/environment
ExecStart=/usr/bin/linuxcnc ${MACHINE_PATH}
Restart=on-failure

[Install]
WantedBy=multi-user.target