[Unit]
Description=armcnc_chromium
After=syslog.target network.target

[Service]
Type=simple
User=armcnc
WorkingDirectory=/opt/armcnc/
EnvironmentFile=/tmp/environment
ExecStart=/usr/bin/chromium --start-fullscreen --disable-pinch --app=http://localhost:10081
Restart=on-failure

[Install]
WantedBy=multi-user.target