[Unit]
Description=armcnc_launch
After=syslog.target network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/armcnc/launch/
ExecStart=/usr/bin/python3 -B /opt/armcnc/launch/launch.py
Restart=on-failure

[Install]
WantedBy=multi-user.target