[Unit]
Description=armcnc_linuxcnc
After=syslog.target network.target

[Service]
Type=simple
User=armcnc
WorkingDirectory=/opt/armcnc/
EnvironmentFile=/opt/armcnc/.armcnc/environment
ExecStart=/usr/bin/linuxcnc /opt/armcnc/configs/${MACHINE_PATH}/machine.ini
Restart=on-failure

[Install]
WantedBy=multi-user.target